a{
    color: gold;
    padding: 0px 20px 0px 20px;
}
b{
    font-size: 16px;
}
body{
    height: 850px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background: gray;
    color: black;
    font-family: 'Sorts Mill Goudy', Arial;
}
footer{
    font-family: Georgia;
    background: rgb(109, 39, 0);
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: -1;
    filter: sepia(90%);
}
h1{
    padding-top: 40px;
    padding-left: 10px;
}
header{
    text-align: center;
}
li{
    display: inline;
    color: white;
    filter: sepia(90%);
}
p{
    text-align: left;
}
ul {
    padding: 15px;
    list-style-position: inside;
    filter: sepia(90%);
}
.bodyText{
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-radius: 30px;
    padding: 5px 50px 5px 50px;
    background-color: white;
    width: 900px;
    filter: sepia(90%);
}

/*Button CSS*/
.button1, .button2, .button3, .button4, .button5{
    padding: 4px;
    border-width: 2px;
    border-style: solid;
    border-radius: 1px;
    border-color: rgb(210, 157, 24);
    background-image: linear-gradient(rgb(200, 200, 200), rgb(20, 20, 20))
}

.button1:hover, .button2:hover, .button3:hover, .button4:hover, .button5:hover{
    background-image: linear-gradient(rgb(185, 185, 185), rgb(5, 5, 5))
}
.button1:active, .button2:active, .button3:active, .button4:active, .button5:active{
    padding: 5px;
    border-width: 3px;
}
/*End Buttons*/

.destruct{
    float: right;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(210, 157, 24);
}
.footerText{
    padding-left: 30px;
    padding-top: 2px;
    padding-bottom: 5px;
    text-align: left;
    color: white;
}
.gas{
    float: left;
    margin-right: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(210, 157, 24);
}
.headerul{
    background: rgb(109, 39, 0);
}
.indexLink{
    padding: 0;
    color: blue;
}
.indexLink:visited{
    color: navy;
}
.logo{
    width: 100px;
    filter: sepia(90%);
}
.logo:hover{
    opacity: .8;
}
.logo:active{
    opacity: 1;
}
.panzer{
    float: right;
}
.topimage{
    padding-left: 50px;
}
