body{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background: lightblue;
    color: white;
}
li{
    display: block;
    padding: 0px 200px 0px 200px;
    color: white;
}
ul {
    padding: 10px;
    list-style-position: inside;
}
.headerul{
    background: rgba(255, 255, 255, .7);
}
