body{
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    background: lightblue;
    color: black;
}
header{
    text-align: center;
}
li{
    display: inline;
    padding: 0px 200px 0px 200px;
    color: white;
}
ul {
    padding: 10px;
    list-style-type: none;
    list-style-position: inside;
}
.headerul{
    background: rgba(0, 0, 200, .7);
}
